.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  min-width: 250px;
  border: 2px solid black;
  justify-content: space-evenly;
  border-radius: 10px;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  width: 150px;
  background-color: rgb(205, 7, 136);
  color: white;
  border: none;
  height: 30px;
  border-radius: 10px;
}
.container > input {
  height: 30px;
  border-radius: 8px;
  min-width: 180px;
  padding-left: 10px;
}
.App {
  background-color: whitesmoke;
}
